.proj-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  z-index: 9999;
}

.proj-map {
  width: 100%;
  height: 100%;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  background: red;
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  z-index: 99999;
}
